.itemMobile{
    display: none;
}
.item1{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.caseStudy{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    text-align: initial;
    width: 40%;
}
.caseStudyP{
    color: #000;
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.698px; /* 112.132% */
    text-transform: uppercase;
    width: 60%;
}
.caseStudySub{
    color: #000;
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 98.115%; /* 98.115% */
    width: 60%;
}
.caseStudyTitle{
    color: #000;
    font-family: 'Ubuntu',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 125% */
    width: 60%;
}
.caseStudyInfo{
    color: #000;
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.5%; /* 137.5% */
    width: 60%;
}
.imagesStudy{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 494px;
}
.imagesGif{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-end;
}
.image1{
    width: 50%;
 
}
.imageStudy1{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.image2{
    height: 58%;
    width: 96%;
}
.mgrGif{
    width: 96%;
    height: 40%;
}
.gif{
    border-radius: 20px;
}
.arrows{
    margin-bottom: 3%;
}
@media (max-width:768px){
    .itemWeb{
        display: none;
    }
    .item1{
        width: 100%;
        justify-content: center;
    }
    .itemMobile{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin:0 auto;
        margin-top: 10%;
    }
    .caseStudy{
        width: 100%;
    }
    .caseStudyP{
        font-size:12px
    }
    .caseStudySub{
        font-size: 20px;
    }
    .imagesStudy{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 40vh;
    }
    .imgMobile{
        width: 90%;
    }
    .caseStudyTitle{
        width: 100%;
        margin-top: 10% !important;
        text-align: initial;
    }
    .caseStudyInfo{
        width: 100%;
        text-align: initial;
    }
    .arrows{
        text-align: initial;
        text-align: center;
        margin-bottom: 8%;
    }
    .arrows img{
        width: 10%;
    }
    .image1{
        width: 130%;
        margin-bottom: 5%;
        height: 100%;
    }
    .imagesGif{
        width: 100%;
    }
    .image2{
        width: 90%;
        height: 60%;
        margin-bottom: 5%;
    }
    .mgrGif{
        width: 90%;
        border-radius: 10px;
    }
    .itemWeb{
        width: 100%;
    }
    
}
@media (min-width: 768px) and (max-width: 1023px){
    .itemWeb{
        display: none;
    }
    .itemMobile{
        display: flex;
        width: 100%;
    }
    .item1{
        width: 100%;
    }
    .caseStudy{
        width: 100%;
        align-items: center;
    }
    .caseStudyP{
        font-size: 25px;
    }
    .caseStudySub{
        font-size:20px
    }
    .imagesStudy{
        margin-bottom: 5%;
        height: auto;
    }
    .imagesGif{
        display: flex;
        justify-content: space-around;
    }
    .mgrGif{
        height: 35%;
        border-radius: 20px;
    }
}
