.passionsTitle{
    color: #1B1B1B;
text-align: center;
font-family: 'Be Vietnam Pro',sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 400%;
text-align: initial;
margin-left: 8%;
}
.myPassions{
    background: #EBEBEB;
    margin-top: 10%;
}
.passionPhotos{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.passions, .passionsLast{
    display: flex;
    width: 100%;
    gap: 1%;
    justify-content: center;
    margin-top: 1%;
}
.passionsImg{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s; 
    cursor: pointer; 
}
.passionsImg:hover{
    transform: scale(1.1); 
    border-radius: 10px;
}
.passionsLast{
    margin-bottom: 10%;
}
.passionsImgContainer { 
    overflow: hidden; 
    border-radius: 10px;
}
@media (max-width:768px){
    .passions, .passionsLast{
        flex-wrap: wrap;
    }
    .passionsImgContainer{
        margin:0 auto;
        width: 90%;
        margin-bottom: 4%;
    }
}

