.recomendations{
    background-color: #EBEBEB;
}

.carousel-caption{
    position: relative !important;
    right: 0%!important;
    bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 50% !important;
    left: 25% !important;
    margin-right: 0 !important;
    float: none !important;
}
.text{
    text-align: initial;
}
.recommendationName{
    color: #000;
font-family: 'Be Vietnam Pro',sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 112.132%; /* 112.132% */
text-transform: uppercase;
}
.recommendationJob{
    color: #000;
font-family: 'Be Vietnam Pro',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 98.115%; /* 98.115% */
}
.recommendation{
    color: #000;
font-family: Ubuntu;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 125% */
}
.carousel-item{
    margin-top:5%;
    margin-bottom:5%;
}
@media(max-width:768px){
    .carousel-caption{
        width: 80% !important;
        left: 15% !important;
    }
    .carousel-indicators{
        display: none !important;
    }
    .recommendation{
        font-size:20px;
    }
}