.firstUx{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.textUx{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contactUx{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
    justify-content: space-between;
}
.paragraphUx{
    color: #000;
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 137.5%; /* 137.5% */
text-align: initial;
}
.titleUx{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5%;
}
.elipseUx{
    margin-right: 10%;
}
.elipseUxUi{
    display: flex;
    height: 40%;
    width: 20%;
    margin: 0 auto;
}
.contactMeUx{
    background-color: #406EE4;
    width: 80%;
    padding: 10px;
    color: #FFF;
text-align: center;
font-family: Be Vietnam Pro;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 111.111%; /* 111.111% */
border-radius: 5px;
border: none;
}
.contactMeUx:hover{
    background-color:black;
}
.projectR , .projectL{ 
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.projectL{
    border-radius: 10px;
}
.projectText{
    display:flex;
    flex-direction: column;
    border-radius: 10px;
background: #EFEFEF;
width: 95%;

}
.projectLeftText{
    display:flex;
    flex-direction: column;
    border-radius: 10px;
background: black;
width: 95%;
}
.projectImage{
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.projectLeftImage{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.imageProject{
    width: 95%;
    border-radius: 10px;
}
.projects{
    margin-top: 2%;
}
.projectNumber,.projectLeftNumber{
display: none;
}

.projectName{
    color: #333;
font-family: 'Ubuntu',sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 110% */
margin: 0;
}
.projectLeftName{
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 110% */
    margin: 0;
}
.projectText{
    margin:0;
    color: #000;
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 137.5%; /* 137.5% */
justify-content: center;
align-items: flex-start;
text-align: initial;
}
.projectLeftText{
    color: white;
font-family: 'Be Vietnam Pro', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 137.5%; /* 137.5% */
justify-content: center;
align-items: flex-start;
text-align: initial;

}
.paragraph{
    padding-left: 5%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.buttonProject{
    color: #FFF;
text-align: center;
font-family: 'Be Vietnam Pro',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 125%; /* 125% */
border-radius: 5px;
background: #2946CF;
padding: 10px;
border: none;
display: flex;
}
.marginUx{
    margin-left: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.buttonProject:hover{
  background-color: #6F80CC ;
}
.footerUx{
    margin-top: 3%;
}

.imageEx{
    width: 40%;
    overflow: hidden;
}
.elipseUx{
    width: 40%;
}
.titleEx{
    width: 60%;
    display: flex;
    align-items: center;
}
.contactMePh{
    background-color: #9747ff ;
}
.contactMeVE{
    background-color: #e37056;
}
.contactMeBrand{
    background-color: #e3b440;
}
.contactMeVj{
    background-color: #93bc97;
}
.contactMeC{
    background-color: #17aaa9;
}
.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
}
iframe{
    margin-bottom: 4%;
}
.collage{
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 8%;
}
.imageRight, .imageLeft{
    width: 49%;
}
.collage1{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    justify-content: space-between;
}
.tituloBranding{
    color: #1B1B1B;
text-align: center;
font-family: Be Vietnam Pro;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 120% */
text-align: initial;
width: 67%;
margin: 0 auto;
margin-bottom: 4%;
}
.branding{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
    justify-items: center;
    gap: 1%;
}
.branding1{
    width: 100%;
    margin-bottom: 10%;
}

.imagesBranding{
    width: 90%;
    border-radius: 10px;
}
.logos{
    margin-top: 5%;
}
.projectsBranding{
    margin-top: 4%;
}
.brandingP{
    margin-top: 2%;
}
.photoContainer{
    margin-top: 5%;
}
.brandingClassRight , .BrandingProjectLeft{
    width: 68%;
}
.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .image-modal {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001; 
  }

  .image-modal image{
    width: 100%;
  }

  .close-modal {
    position: absolute;
    top: 30px; 
    right: 30px; 
    cursor: pointer;
    font-size: 24px;
    color: gainsboro; 
  }

.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .modal-arrow.prev {
    left: 18px;
  }

  .modal-arrow.next {
    right: 18px;
  }
  .videos iframe{
    width: 800px;
    height: 500px;
  }
  .cardSection{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 8%;
    margin-bottom: 8%;
    overflow: scroll;
    padding-left: 8%;
 }
 .experienceCards{
    height: 177px !important;
    margin-bottom: 30%;
 }
 .cardTextMobile{
    display: none;
 }
 .buttonBranding{
    background-color:#e3b440 !important
 }
 .buttonBranding:hover{
    background-color: black !important;
 }
 .collageButton{
    background-color: #17aaa9 !important;
 }
 .collageButton:hover{
    background-color: black !important;
 }
.photographColor{
    background-color: #9747ff !important;
}
.photographColor:hover{
    background-color: black !important;
}
.veButton{
    background-color: #e37056 !important;
}
.veButton:hover{
    background-color: black !important;
}
.vjButton{
    background-color: #93bc97 !important;
}
.vjButton:hover{
    background-color: black !important;
}
@media (max-width:768px){
    .contactUx{
        display: none;
    }
    .textUx{
        width: 90%;
    }
    .firstUx{
        display: flex;
        flex-direction: column;
        margin-bottom: 15%;
        margin-top: 0;
    }
    .titleUx{
        display: flex;
        flex-direction: column;
    }
    .elipseUx{
        width: 100%;
    }
    .paragraphUx{
        width: 100%;
    }
    .projectR{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }
    .projectL{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-around;
    }
    .paragraph{
        width: 90%;
        height: 60vh;
    }
    .projectLeftText{
        margin-top: 8%;
        order: 1;
    }
    .buttonProjects{
        margin-bottom: 5%;
    }
    .imageProject{
        width: 100%;
    }
    .projectImage{
        width: 90%;
        margin-top:2%
    }
    .marginUx{
        width: 80%;
        align-items: stretch;
        margin-top: 8%;
        margin-bottom: 12%;
    }
    .imageEx{
        margin-bottom: 6%;
        display: flex;
    }
    .titleEx{
        margin-bottom: 6%;
        width: 100%;
    }
    .collage1{
        flex-direction: column;
        margin-bottom: 2%;
    }
    .imageRight, .imageLeft{
        width: 100%;
        margin-bottom: 4%;
    }
    iframe{
        width: 90%;
    }
    .tituloBranding{
        width: 90%;
        font-size: 45px;
    }
    .logoBrands{
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }
    .branding{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        margin-bottom: 10%;
        width: 100%;
        padding: 8%;
    }
    .branding1{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    width: 95%;
    justify-content: space-evenly;
    }
    .imagesBranding{
        width: 95%;
    }
    .videos iframe {
        width: 310px;
        height: 195px; 
      }
      .projectLeftImage{
        width: 90%;
        order: 2;
        margin-top: 2%;
        margin-bottom: 8%;
      }
      .projectLeftText p{
        width: 80%;
      }
      .hashtags{
        display: none;
      }
      
}
@media (min-width: 768px) and (max-width: 1023px){
   
    .videos iframe {
        width: 600px;
        height: 350px; 
      }
      .projects{
        width: 90%;
        margin-top: 5%;
      }
      .projectR, .projectL{
        display: flex;
        flex-direction: column;
        align-items:center;
      }
      .projectText{
        margin-bottom: 5%;
      }
      .projectLeftText{
        margin-top: 5%;
      }
      .imageProject{
        width: 100%;
      }
}